main{
    margin-top: 100px;   
}
.inspirate{
    text-align: center;
    font-size: 35px;
    color: #572EE5;
    .acuarela{
        display: inline-block;
        color: #50E3C2;
    }
}
// imagen de los tres personajes

.divimagen{
    margin-top: 10px;
    justify-content: center;
    display: flex;
    
    img{
        width: 240px;
        height: 117px;
       
    }
}


.div-buscador-gifos{
    justify-content: space-around;
    background: #FFFFFF;
    border: 2px solid  #572EE5;
    border-radius: 27px 27px;
    height: 40px;
    width: 286px;
    margin: 0px 5%;
    .lupa{
        width: 20px;
        position: relative;
        left: 252px;
        bottom: -10px;
    }
    .divInput{
        position: relative;
        bottom: 25px;
    }
    .palabra{
        font-size:large;
        height: 22px;
        width: 70%;
        border: 0;
        margin: 10px 44px;
        outline: none;
    }
    
    ::placeholder{
        font-family: 'Roboto Mono', monospace;
        color: #6b7989;
        font-size: 16px;
        font-weight: 500;
    }
    
}

.line{
    margin: 16% 0% 0% 28%;
    width: 41.9%;
    height: 1px;
    opacity: 0.5;
    background-color: #9CAFC3;
}

.palabraEnBuscador{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #572EE5;
    .idshare{
        margin: 50px;
    }
    
    #verMas{
        margin: 15% 15% 15% 15%;
        width: 127px;
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        border: 1px solid #572EE5;
        border-radius: 25px;
        border-radius: 25px;
    }
    #images{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 10px;
        margin: 10px;
        img{
            width: 100%;
            height: 120px;
            margin: 1.1%;
        }
    }
}
.s1trending{
    font-size: 20px;
    text-align: center;
    color: #572EE5;
    margin-top: 50px;
    font-family: Montserrat-Bold;
    
}  
.s1reactions{

    h3{
        text-align: center;
        color: #572EE5;
        font-family: Montserrat-Medium;
        font-weight: unset;
        margin: 0px 19%;
    } 
}

#idshare{
    text-transform: capitalize;
}

#section-3{
    
    height: 430px;
    background: #F3F5F8;
    margin-top: 80px;
}
.titles-s3{
    height: 30px;
    .arrows{
        display: none;
    }
    .trendingGifos{
        padding-top: 46px;
        font-size: 20px;
        text-align: center;
        color: #572EE5;
        font-weight: bolder;
    }
    .ultimosGifos{  
     padding-top: 7px;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     text-align: center;
     color: #000000;
     font-weight: 300;
     margin: 0px 20%;
    }
}

.container-slider{
    // width: 90%;
    // max-width: 900px;
    // margin: auto;
    // overflow: hidden;
    // position: relative;
    .slider{
        // display: flex;
        // width: 400%;
        // height: 400px;
        .slider__section{
            // width: 100%;
            .slider__img{
                height: 187px;
                width: 243px;
                // display: block;
                // width: 100%;
                // height: 100%;
                // object-fit: cover;
            }
        }
    }
}


.slider__btn{
    // position: absolute;
    // width: 40px;
    // height: 40px;
    // border: 1px solid #572EE5;
    // top: 50%;
    // transform: translateY(-50%);
    // font-family: monospace;
    // font-size: 30px;
    // text-align: center;
    // font-weight: bold;
    // cursor: pointer;
}

.slider__btn:hover{
    // background: #572EE5;
}

.slider--btn--left{
     
}

.slider--btn--rigth{
    right: 10px;
}


// desde aquí se empiezan a editar lo media 1024px

@media(min-width:1024px){
main{
    margin-top: 130px;
}
.inspirate{
    font-size: 35px;
    margin: 16px 25%;
    
}
.divimagen{
    img{
        width: 399px;
        height: 190px;
    }
} 
.div-buscador-gifos{
    height: 40px;
    width: 551px;
    margin: 0px 230px;
    .palabra{
        width: 80%;
    } 
    .lupa{
        left: 503px;
    }
} 
.s1reactions{

    h3{
        text-align: center;
        color: #572EE5;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    } 

}
#section-2{
    #circulo{
        grid-template-columns: 1fr 1fr 1fr ;
        .camara{
            display: flex;
            justify-content: flex-end;
            }
            .lente{
                width: 95px;
            }
            .flash{
                width: 50px;
                height: 400px;
                
            }
        }
        .mitad{  
            width: 640px;
            height: 400px;
            // background: rgb(236, 229, 15);
            .marco{
                margin: auto;
                height: 324px;
                width: 640px;
                border: 1px solid #572EE5;
                
                .intoMarco-1{
                    padding-top: 7%;
                    margin: auto;
                    // background: gray;
                    width: 550px;
                    height: 70px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 25px;
                    font-weight: bold;
                    color: #572EE5;
                    text-align: center;
                    line-height: 35px;
                    h1{
                        color: #50E3C2;
                        display: inline;
                    }
                }
                .intoMarco-2{
                    // background: red;
                    width: 446px;
                    padding-top: 1%;
                    height: 70px;
                    margin: auto;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color: #000000;
                    text-align: center;
                    line-height: 29px;
                }
                .box{
                    display: flex;
                    justify-content: space-between;
                    .box-1, .box-2, .box-3, .box-4{
                        display: flex;
                        height: 25px;
                        width: 27px;
                    }
                    .box-1, .box-2{
                        margin: 20px 20px;
                        border-top: 1px solid #50E3C2;
                        
                    }
                    .box-3, .box-4{
                        margin: 20px 20px ;
                        border-bottom: 1px solid #50E3C2;
                    }
                    .box-1, .box-3{
                        
                        border-left: 1px solid #50E3C2;
                    }

                    .box-2, .box-4{
                        border-right: 1px solid #50E3C2;
                        
                    }
                }
            }
            .steps{
                display: flex;
                justify-content: space-evenly;
                width: 25%;
                margin: 0px 265px;
                padding-top: 13px;
                margin-bottom: 15px;
                .boton-1, .boton-2, .boton-3{
                    color: #572EE5;
                    button{
                    font-family: 'Roboto';
                    font-weight: 200;
                    font-size: 18px;
                    text-align: center;
                    border-radius: 16px;
                    width: 32px;
                    height: 32px;
                    color: #572EE5;
                    border: 1px solid #572EE5;
                    }
                }
            }
            .emptyPurple{
                height: 6.9px;
                width: 700px;
                margin: 0px 0px 20px -30px;
                background:#572EE5;
                border-radius: 5px;
            }
            .comenzar{
                display: flex ;
                justify-content: center;
                .btnComenzar{
                    border: 1px solid #572EE5;
                    border-radius: 25px;
                    width: 107px;
                    height: 34px;
                    font-size: 12px;
                    font-family: 'Montserrat';
                    font-weight: bold;
                    color: #572EE5;
                }
            }    
        }
        .cintaFotografica{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img{
                height: 112px;
                width: 135px;
            }
        }
    }
}

#section-3{
    display: none;
}




// desde aquí se empiezan a editar lo media 1440px



@media(min-width:1440px){
    .inspirate{
        width: 32%;
        font-size: 37px;
        margin: 16px 35%;
    }
    .divimagen{
        img{
            width: 474px;
            height: 230px;
        }
    } 
    .div-buscador-gifos{
        height: 50px;
        width: 1000px;
        margin: 0px 235px;
        .palabra{
            margin: 15px 45px;
            width: 92%;
        } 
        .lupa{
            left: 61em;
            bottom: -14px;
        }
    } 
}