@media(min-width:1024px){
    body{
        // background-color: darkkhaki;
        #circulo {
            height: 693px;
            width: auto;
            // background-color: rgb(223, 183, 76);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .camara {
                width: 250px;
                height: 165px;
                // background-color: rgb(189, 105, 151);
                display: flex;
                justify-content: flex-end;
                margin: auto;
                .lente{
                    height: 162px;
                    width: 123px;
                }
                .flash{
                    height: 167px;
                    width: 65px;
                }
            }
        }
        .mitad {
            margin: auto;
            width: 580px;
            height: 392px;
            // background-color: coral;
            .marco {
                margin: auto;
                height: 390px;
                width: 580px;
                border: 1px solid #572EE5;
                .container_intoMarco{
                    margin: auto;
                    .intoMarco-1 {
                        margin: 52px auto 0px auto;
                        // background: gray;
                        width: 550px;
                        height: 70px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 25px;
                        font-weight: bold;
                        color: #572EE5;
                        text-align: center;
                        line-height: 35px;
                        h1 {
                            color: #50E3C2;
                            display: inline;
                        }
                    }
                    .intoMarco-2 {
                        // background: red;
                        width: 446px;
                        height: 135px;
                        margin: auto;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        color: #000000;
                        text-align: center;
                        line-height: 29px;
                    }
                }
                .boxUp, .boxDown {
                    // background-color: cornsilk;
                    width: auto;
                    display: flex;
                    justify-content: space-between;
                    .box-1,
                    .box-2,
                    .box-3,
                    .box-4 {
                        display: flex;
                        height: 25px;
                        width: 27px;
                    }
                    .box-1,
                    .box-2 {
                        margin: 20px 20px;
                        border-top: 1px solid #50E3C2;
                    }
                    .box-3,
                    .box-4 {
                        margin: 20px 20px;
                        border-bottom: 1px solid #50E3C2;
                    }
                    .box-1,
                    .box-3 {
                        border-left: 1px solid #50E3C2;
                    }
                    .box-2,
                    .box-4 {
                        border-right: 1px solid #50E3C2;
                    }
                }
            }
            #video{
                position: absolute;
                height: 395px;
                width: 442px;
                margin-left: 69px;
            }
            .containerBtns{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr ;
                
                div{
                    height: 23px;
                    
                }
                .steps {
                    -webkit-box-align: center;
                    box-sizing: border-box;
                    padding: 30px 30px;
                    width: 100%;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    
                    .boton-1,
                    .boton-2,
                    .boton-3 {                
                        button {
                            font-family: 'Montserrat';
                            font-weight: bold;
                            font-size: 18px;
                            text-align: center;
                            border-radius: 16px;
                            width: 32px;
                            height: 32px;
                            color: #572EE5;
                            border: 1px solid #572EE5;
                        }
                        button:hover {
                            color: white;
                            background-color: #572EE5;
                        }
                    }
                    .btnSelected {
                        background: #572EE5;
                        color: #FFFFFF;
                        button {
                            font-family: 'Roboto';
                            font-weight: 200;
                            font-size: 18px;
                            text-align: center;
                            border-radius: 16px;
                            width: 32px;
                            height: 32px;
                            border: 1px solid #572EE5;
                        }
                    }
                }
                .containerTimer{
                    // background-color: #50E3C2;
                    font-family: 'Montserrat';
                    font-weight: bold;
                    font-size: 20px;
                    color: #572EE5;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 46px;
                    display: flex;
                    justify-content: flex-end;
                    margin: 11px;           
                }
                .btnRepeat{
                    
                    
                    .repeatCapture{
                        font-family: 'Montserrat';
                        font-weight: bold;
                        color: #572EE5;
                        border: none;
                    }
                }


            }
                
            
            .emptyPurple {
                height: 6.9px;
                width: 652px;
                margin: 0px 0px 20px -30px;
                background: #572EE5;
                border-radius: 5px;
            }
            .comenzar__grabar__finalizar__subirGifo{
                display: flex;
                justify-content: center;
                .btnComenzar {
                    border: 1px solid #572EE5;
                    border-radius: 25px;
                    width: 107px;
                    height: 34px;
                    font-size: 12px;
                    font-family: 'Montserrat';
                    font-weight: bold;
                    color: #572EE5;
                }
                .btnComenzar:hover{
                    color: white;
                    background-color: #572EE5;
                }
            }
        }
        .cintaFotografica {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            img {
                padding-bottom: 96px;
                margin-left: 20px;
                height: 88px;
                width: 142px;
            }
        }
    }
}


