* {
  margin: 0%;
  padding: 0%; }

.theme {
  background: #ffffff;
  transition: .3s ease all; }

.theme--dark {
  background: #37383c;
  transition: .3s ease all;
  --color__bg__grey: #222326;
  --color__primary: #ffffff;
  --color__text: #ffffff;
  --color__primary__transparent: #000000; }

.container {
  background-color: white;
  border-top: 5px solid #572EE5;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  body.theme--dark .container {
    background: #37383c;
    transition: .3s ease all; }
  .container .oculto {
    display: none; }
  .container .menu {
    text-align: center;
    height: 90vh;
    position: absolute;
    width: 100%;
    top: 100%;
    background: rgba(87, 46, 229, 0.9); }
    .container .menu ul .rueda {
      display: none; }
    .container .menu ul .linea {
      width: 30px;
      height: 1px;
      background-color: white;
      margin: auto;
      margin-top: 10px; }
    .container .menu ul li {
      list-style: none;
      margin-top: 20px; }
      .container .menu ul li button {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        border: none;
        color: white;
        cursor: pointer;
        background: rgba(87, 46, 229, 0); }
      .container .menu ul li a {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        text-decoration: none;
        color: white;
        cursor: pointer; }
  .container figure img {
    width: 56px;
    height: 49px;
    margin-left: 20px; }
  .container .iconmenuhamburguesa {
    font-size: 20px;
    margin-right: 12px; }

@media (min-width: 1024px) {
  .container .oculto {
    display: block; }
  .container #navmenu {
    width: auto;
    position: relative;
    top: -20%;
    height: 0%;
    background: none;
    margin-right: 8%; }
    .container #navmenu ul {
      justify-content: space-between;
      display: flex;
      width: 418px; }
      .container #navmenu ul li button {
        font-size: 13px;
        color: #572EE5;
        font-weight: bold;
        cursor: pointer; }
      .container #navmenu ul li a {
        transition: all 450ms ease;
        color: #572EE5;
        margin-top: 0px;
        font-size: 13px;
        font-weight: bold; }
      .container #navmenu ul .linea {
        display: none; }
      .container #navmenu ul .rueda {
        display: block;
        margin-top: 0px; }
  .container figure img {
    width: 60px;
    height: 60px;
    margin-left: 100px; }
  .container .iconmenuhamburguesa {
    display: none; } }
main {
  margin-top: 100px; }

.inspirate {
  text-align: center;
  font-size: 35px;
  color: #572EE5; }
  .inspirate .acuarela {
    display: inline-block;
    color: #50E3C2; }

.divimagen {
  margin-top: 10px;
  justify-content: center;
  display: flex; }
  .divimagen img {
    width: 240px;
    height: 117px; }

.div-buscador-gifos {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 2px solid #572EE5;
  border-radius: 27px 27px;
  height: 50px;
  width: 286px;
  margin: 0px auto; }
  .div-buscador-gifos .lupa {
    width: 20px; }
  .div-buscador-gifos .palabra {
    font-size: large;
    height: 22px;
    width: 83%;
    border: 0;
    margin: 0px 0px;
    outline: none; }
  .div-buscador-gifos ::placeholder {
    font-family: 'Roboto Mono', monospace;
    color: #6b7989;
    font-size: 16px;
    font-weight: 500; }

.line {
  margin: 16% 0% 0% 28%;
  width: 41.9%;
  height: 1px;
  opacity: 0.5;
  background-color: #9CAFC3; }

.palabraEnBuscador {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #572EE5; }
  .palabraEnBuscador .idshare {
    margin: 50px; }
  .palabraEnBuscador #verMas {
    margin: 15% 15% 15% 15%;
    width: 127px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    border: 1px solid #572EE5;
    border-radius: 25px;
    border-radius: 25px; }
  .palabraEnBuscador #images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 10px;
    margin: 10px; }
    .palabraEnBuscador #images img {
      width: 100%;
      height: 120px;
      margin: 1.1%; }

.s1trending {
  font-size: 20px;
  text-align: center;
  color: #572EE5;
  margin-top: 50px;
  font-family: Montserrat-Bold; }

.s1reactions h3 {
  text-align: center;
  color: #572EE5;
  font-family: 'Montserrat-Medium';
  font-weight: unset;
  margin: 0px 19%; }

#idshare {
  text-transform: capitalize; }

#section-3 {
  height: 430px;
  background: #F3F5F8;
  margin-top: 80px; }

@media (min-width: 1024px) {
  main {
    margin-top: 130px; }

  #section-1 .inspirate {
    font-size: 35px;
    margin: 16px 25%; }
  #section-1 .divimagen img {
    width: 393px;
    height: 190px; }
  #section-1 .div-buscador-gifos {
    justify-content: space-evenly;
    height: 40px;
    width: 554px;
    margin: 0px auto; }
    #section-1 .div-buscador-gifos .divInput {
      margin-right: 194px; }
    #section-1 .div-buscador-gifos .palabra {
      width: 234%; }
  #section-1 .s1reactions h3 {
    text-align: center;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder; }
  #section-1 .line {
    margin: 7% 0% 0% 28%; }
  #section-1 .palabraEnBuscador #images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 32px;
    margin: 118px; }
    #section-1 .palabraEnBuscador #images img {
      width: 100%;
      height: 120px;
      margin: 1.1%; } }
@media (min-width: 1440px) {
  .inspirate {
    width: 50%;
    font-size: 37px;
    margin: 16px 35%; }

  .divimagen img {
    width: 474px;
    height: 230px; }

  .div-buscador-gifos {
    height: 50px;
    width: 1000px;
    margin: 0px 235px; }
    .div-buscador-gifos .palabra {
      width: 300%; }
    .div-buscador-gifos .lupa {
      left: 61em;
      bottom: -14px; }

  .palabraEnBuscador #images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 32px;
    margin: 118px; }
    .palabraEnBuscador #images img {
      width: 100%;
      height: 200px;
      margin: 1.1%; } }
#misGifos {
  margin-top: 34%;
  height: 505px; }
  #misGifos .crear {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #misGifos .crear .emoticonSmall img {
      width: 24px;
      height: 22px; }
    #misGifos .crear .misGifosTxt {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: bold;
      color: #572EE5;
      text-align: center;
      margin: 2% 0% 15% 0%; }
    #misGifos .crear .animate {
      width: 60%;
      font-family: 'Montserrat', sans-serif;
      font-size: 22px;
      font-weight: bold;
      color: #50E3C2;
      text-align: center;
      margin: 2% 0% 15% 0%; }

footer {
  width: auto;
  height: 196px;
  text-align: center;
  align-items: center;
  border-bottom: 5px solid #572EE5; }
  footer .compartirEn {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 1px; }
  footer .social-btns {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 8% 35%; }
    footer .social-btns i {
      color: #CDD6E0;
      font-size: 20px; }
  footer .rightsReserved {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin-top: 58px; }

@media (min-width: 1024px) {
  footer {
    display: grid;
    grid-template-columns: 20% 18% 56%;
    position: relative;
    height: 116px; }
    footer .compartirEn {
      font-family: 'Roboto', sans-serif; }
    footer .compartirEn {
      text-align: right; }
    footer .social-btns {
      margin-left: 10px; }
      footer .social-btns a .fa-twitter {
        color: #572EE5; }
    footer .rightsReserved {
      text-align: right;
      margin-bottom: 7%; } }
@media (min-width: 1024px) {
  #misGifos {
    display: flex; } }
@media (min-width: 1024px) {
  body #circulo {
    height: 693px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    body #circulo .camara {
      width: 250px;
      height: 165px;
      display: flex;
      justify-content: flex-end;
      margin: auto; }
      body #circulo .camara .lente {
        height: 162px;
        width: 123px; }
      body #circulo .camara .flash {
        height: 167px;
        width: 65px; }
  body .mitad {
    margin: auto;
    width: 580px;
    height: 392px; }
    body .mitad .marco {
      margin: auto;
      height: 390px;
      width: 580px;
      border: 1px solid #572EE5; }
      body .mitad .marco .container_intoMarco {
        margin: auto; }
        body .mitad .marco .container_intoMarco .intoMarco-1 {
          margin: 52px auto 0px auto;
          width: 550px;
          height: 70px;
          font-family: 'Montserrat', sans-serif;
          font-size: 25px;
          font-weight: bold;
          color: #572EE5;
          text-align: center;
          line-height: 35px; }
          body .mitad .marco .container_intoMarco .intoMarco-1 h1 {
            color: #50E3C2;
            display: inline; }
        body .mitad .marco .container_intoMarco .intoMarco-2 {
          width: 446px;
          height: 135px;
          margin: auto;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          color: #000000;
          text-align: center;
          line-height: 29px; }
      body .mitad .marco .boxUp, body .mitad .marco .boxDown {
        width: auto;
        display: flex;
        justify-content: space-between; }
        body .mitad .marco .boxUp .box-1,
        body .mitad .marco .boxUp .box-2,
        body .mitad .marco .boxUp .box-3,
        body .mitad .marco .boxUp .box-4, body .mitad .marco .boxDown .box-1,
        body .mitad .marco .boxDown .box-2,
        body .mitad .marco .boxDown .box-3,
        body .mitad .marco .boxDown .box-4 {
          display: flex;
          height: 25px;
          width: 27px; }
        body .mitad .marco .boxUp .box-1,
        body .mitad .marco .boxUp .box-2, body .mitad .marco .boxDown .box-1,
        body .mitad .marco .boxDown .box-2 {
          margin: 20px 20px;
          border-top: 1px solid #50E3C2; }
        body .mitad .marco .boxUp .box-3,
        body .mitad .marco .boxUp .box-4, body .mitad .marco .boxDown .box-3,
        body .mitad .marco .boxDown .box-4 {
          margin: 20px 20px;
          border-bottom: 1px solid #50E3C2; }
        body .mitad .marco .boxUp .box-1,
        body .mitad .marco .boxUp .box-3, body .mitad .marco .boxDown .box-1,
        body .mitad .marco .boxDown .box-3 {
          border-left: 1px solid #50E3C2; }
        body .mitad .marco .boxUp .box-2,
        body .mitad .marco .boxUp .box-4, body .mitad .marco .boxDown .box-2,
        body .mitad .marco .boxDown .box-4 {
          border-right: 1px solid #50E3C2; }
    body .mitad #video {
      position: absolute;
      height: 395px;
      width: 442px;
      margin-left: 69px; }
    body .mitad .containerBtns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      body .mitad .containerBtns div {
        height: 23px; }
      body .mitad .containerBtns .steps {
        -webkit-box-align: center;
        box-sizing: border-box;
        padding: 30px 30px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between; }
        body .mitad .containerBtns .steps .boton-1 button,
        body .mitad .containerBtns .steps .boton-2 button,
        body .mitad .containerBtns .steps .boton-3 button {
          font-family: 'Montserrat';
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          border-radius: 16px;
          width: 32px;
          height: 32px;
          color: #572EE5;
          border: 1px solid #572EE5; }
        body .mitad .containerBtns .steps .boton-1 button:hover,
        body .mitad .containerBtns .steps .boton-2 button:hover,
        body .mitad .containerBtns .steps .boton-3 button:hover {
          color: white;
          background-color: #572EE5; }
        body .mitad .containerBtns .steps .btnSelected button {
          background: #572EE5;
          color: #FFFFFF;
          font-family: 'Montserrat';
          font-weight: 200;
          font-size: 18px;
          text-align: center;
          border-radius: 16px;
          width: 32px;
          height: 32px;
          border: 1px solid #572EE5; }
      body .mitad .containerBtns .containerTimer {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 46px;
        display: flex;
        justify-content: flex-end;
        margin: 11px; }
      body .mitad .containerBtns .btnRepeat .repeatCapture {
        font-family: 'Montserrat';
        font-weight: bold;
        color: #572EE5;
        border: none;
        margin-top: 10%; }
    body .mitad .emptyPurple {
      height: 6.9px;
      width: 652px;
      margin: 0px 0px 20px -30px;
      background: #572EE5;
      border-radius: 5px; }
    body .mitad .comenzar__grabar__finalizar__subirGifo {
      display: flex;
      justify-content: center; }
      body .mitad .comenzar__grabar__finalizar__subirGifo .btnComenzar {
        border: 1px solid #572EE5;
        border-radius: 25px;
        width: 107px;
        height: 34px;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: bold;
        color: #572EE5; }
      body .mitad .comenzar__grabar__finalizar__subirGifo .btnComenzar:hover {
        color: white;
        background-color: #572EE5; }
  body .cintaFotografica {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    body .cintaFotografica img {
      padding-bottom: 96px;
      margin-left: 20px;
      height: 88px;
      width: 142px; } }
#favorito .like {
  display: flex;
  flex-direction: column;
  align-items: center; }
#favorito .emoticonHeartSmall img {
  width: 28px;
  height: 21px; }
#favorito .favorito {
  font-family: 'Montserrat-Bold';
  font-size: 25px;
  color: #572EE5;
  font-weight: 600;
  height: 100px; }
#favorito .emoticonHeartBig img {
  width: 90px;
  height: 130px; }
#favorito .save {
  font-family: 'Montserrat-Bold';
  font-size: 22px;
  color: #50E3C2;
  width: 345px;
  height: 72px;
  display: flex;
  text-align: center; }

/*# sourceMappingURL=import.css.map */
