main {
  margin-top: 100px; }

.inspirate {
  text-align: center;
  font-size: 35px;
  color: #572EE5; }
  .inspirate .acuarela {
    display: inline-block;
    color: #50E3C2; }

.divimagen {
  margin-top: 10px;
  justify-content: center;
  display: flex; }
  .divimagen img {
    width: 240px;
    height: 117px; }

.div-buscador-gifos {
  justify-content: space-around;
  background: #FFFFFF;
  border: 2px solid  #572EE5;
  border-radius: 27px 27px;
  height: 40px;
  width: 286px;
  margin: 0px 5%; }
  .div-buscador-gifos .lupa {
    width: 20px;
    position: relative;
    left: 252px;
    bottom: -10px; }
  .div-buscador-gifos .divInput {
    position: relative;
    bottom: 25px; }
  .div-buscador-gifos .palabra {
    font-size: large;
    height: 22px;
    width: 70%;
    border: 0;
    margin: 10px 44px;
    outline: none; }
  .div-buscador-gifos ::placeholder {
    font-family: 'Roboto Mono', monospace;
    color: #6b7989;
    font-size: 16px;
    font-weight: 500; }

.line {
  margin: 16% 0% 0% 28%;
  width: 41.9%;
  height: 1px;
  opacity: 0.5;
  background-color: #9CAFC3; }

.palabraEnBuscador {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #572EE5; }
  .palabraEnBuscador .idshare {
    margin: 50px; }
  .palabraEnBuscador #verMas {
    margin: 15% 15% 15% 15%;
    width: 127px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    border: 1px solid #572EE5;
    border-radius: 25px;
    border-radius: 25px; }
  .palabraEnBuscador #images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 10px;
    margin: 10px; }
    .palabraEnBuscador #images img {
      width: 100%;
      height: 120px;
      margin: 1.1%; }

.s1trending {
  font-size: 20px;
  text-align: center;
  color: #572EE5;
  margin-top: 50px;
  font-family: Montserrat-Bold; }

.s1reactions h3 {
  text-align: center;
  color: #572EE5;
  font-family: Montserrat-Medium;
  font-weight: unset;
  margin: 0px 19%; }

#idshare {
  text-transform: capitalize; }

#section-3 {
  height: 430px;
  background: #F3F5F8;
  margin-top: 80px; }

.titles-s3 {
  height: 30px; }
  .titles-s3 .arrows {
    display: none; }
  .titles-s3 .trendingGifos {
    padding-top: 46px;
    font-size: 20px;
    text-align: center;
    color: #572EE5;
    font-weight: bolder; }
  .titles-s3 .ultimosGifos {
    padding-top: 7px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #000000;
    font-weight: 300;
    margin: 0px 20%; }

.container-slider .slider .slider__section .slider__img {
  height: 187px;
  width: 243px; }

.slider--btn--rigth {
  right: 10px; }

@media (min-width: 1024px) {
  main {
    margin-top: 130px; }

  .inspirate {
    font-size: 35px;
    margin: 16px 25%; }

  .divimagen img {
    width: 399px;
    height: 190px; }

  .div-buscador-gifos {
    height: 40px;
    width: 551px;
    margin: 0px 230px; }
    .div-buscador-gifos .palabra {
      width: 80%; }
    .div-buscador-gifos .lupa {
      left: 503px; }

  .s1reactions h3 {
    text-align: center;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder; }

  .gifosh2 .arrows {
    display: flex;
    justify-content: space-between;
    margin: 5%; } }
@media (min-width: 1440px) {
  .inspirate {
    width: 32%;
    font-size: 37px;
    margin: 16px 35%; }

  .divimagen img {
    width: 474px;
    height: 230px; }

  .div-buscador-gifos {
    height: 50px;
    width: 1000px;
    margin: 0px 235px; }
    .div-buscador-gifos .palabra {
      margin: 15px 45px;
      width: 92%; }
    .div-buscador-gifos .lupa {
      left: 61em;
      bottom: -14px; } }

/*# sourceMappingURL=main.css.map */
