@media (min-width: 1024px) {
  body #circulo {
    height: 693px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    body #circulo .camara {
      width: 250px;
      height: 165px;
      display: flex;
      justify-content: flex-end;
      margin: auto; }
      body #circulo .camara .lente {
        height: 162px;
        width: 123px; }
      body #circulo .camara .flash {
        height: 167px;
        width: 65px; }
  body .mitad {
    margin: auto;
    width: 580px;
    height: 392px; }
    body .mitad .marco {
      margin: auto;
      height: 390px;
      width: 580px;
      border: 1px solid #572EE5; }
      body .mitad .marco .container_intoMarco {
        margin: auto; }
        body .mitad .marco .container_intoMarco .intoMarco-1 {
          margin: 52px auto 0px auto;
          width: 550px;
          height: 70px;
          font-family: 'Montserrat', sans-serif;
          font-size: 25px;
          font-weight: bold;
          color: #572EE5;
          text-align: center;
          line-height: 35px; }
          body .mitad .marco .container_intoMarco .intoMarco-1 h1 {
            color: #50E3C2;
            display: inline; }
        body .mitad .marco .container_intoMarco .intoMarco-2 {
          width: 446px;
          height: 135px;
          margin: auto;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          color: #000000;
          text-align: center;
          line-height: 29px; }
      body .mitad .marco .boxUp, body .mitad .marco .boxDown {
        width: auto;
        display: flex;
        justify-content: space-between; }
        body .mitad .marco .boxUp .box-1,
        body .mitad .marco .boxUp .box-2,
        body .mitad .marco .boxUp .box-3,
        body .mitad .marco .boxUp .box-4, body .mitad .marco .boxDown .box-1,
        body .mitad .marco .boxDown .box-2,
        body .mitad .marco .boxDown .box-3,
        body .mitad .marco .boxDown .box-4 {
          display: flex;
          height: 25px;
          width: 27px; }
        body .mitad .marco .boxUp .box-1,
        body .mitad .marco .boxUp .box-2, body .mitad .marco .boxDown .box-1,
        body .mitad .marco .boxDown .box-2 {
          margin: 20px 20px;
          border-top: 1px solid #50E3C2; }
        body .mitad .marco .boxUp .box-3,
        body .mitad .marco .boxUp .box-4, body .mitad .marco .boxDown .box-3,
        body .mitad .marco .boxDown .box-4 {
          margin: 20px 20px;
          border-bottom: 1px solid #50E3C2; }
        body .mitad .marco .boxUp .box-1,
        body .mitad .marco .boxUp .box-3, body .mitad .marco .boxDown .box-1,
        body .mitad .marco .boxDown .box-3 {
          border-left: 1px solid #50E3C2; }
        body .mitad .marco .boxUp .box-2,
        body .mitad .marco .boxUp .box-4, body .mitad .marco .boxDown .box-2,
        body .mitad .marco .boxDown .box-4 {
          border-right: 1px solid #50E3C2; }
    body .mitad #video {
      position: absolute;
      height: 395px;
      width: 442px;
      margin-left: 69px; }
    body .mitad .containerBtns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      body .mitad .containerBtns div {
        height: 23px; }
      body .mitad .containerBtns .steps {
        -webkit-box-align: center;
        box-sizing: border-box;
        padding: 30px 30px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between; }
        body .mitad .containerBtns .steps .boton-1 button,
        body .mitad .containerBtns .steps .boton-2 button,
        body .mitad .containerBtns .steps .boton-3 button {
          font-family: 'Montserrat';
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          border-radius: 16px;
          width: 32px;
          height: 32px;
          color: #572EE5;
          border: 1px solid #572EE5; }
        body .mitad .containerBtns .steps .boton-1 button:hover,
        body .mitad .containerBtns .steps .boton-2 button:hover,
        body .mitad .containerBtns .steps .boton-3 button:hover {
          color: white;
          background-color: #572EE5; }
        body .mitad .containerBtns .steps .btnSelected button {
          background: #572EE5;
          color: #FFFFFF;
          font-family: 'Montserrat';
          font-weight: 200;
          font-size: 18px;
          text-align: center;
          border-radius: 16px;
          width: 32px;
          height: 32px;
          border: 1px solid #572EE5; }
      body .mitad .containerBtns .containerTimer {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 20px;
        color: #572EE5;
        text-align: center;
        line-height: 46px;
        display: flex;
        justify-content: flex-end;
        margin: 11px; }
      body .mitad .containerBtns .btnRepeat .repeatCapture {
        font-family: 'Montserrat';
        font-weight: bold;
        color: #572EE5;
        border: none;
        margin-top: 10%; }
    body .mitad .emptyPurple {
      height: 6.9px;
      width: 652px;
      margin: 0px 0px 20px -30px;
      background: #572EE5;
      border-radius: 5px; }
    body .mitad .comenzar__grabar__finalizar__subirGifo {
      display: flex;
      justify-content: center; }
      body .mitad .comenzar__grabar__finalizar__subirGifo .btnComenzar {
        border: 1px solid #572EE5;
        border-radius: 25px;
        width: 107px;
        height: 34px;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: bold;
        color: #572EE5; }
      body .mitad .comenzar__grabar__finalizar__subirGifo .btnComenzar:hover {
        color: white;
        background-color: #572EE5; }
  body .cintaFotografica {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    body .cintaFotografica img {
      padding-bottom: 96px;
      margin-left: 20px;
      height: 88px;
      width: 142px; } }

/*# sourceMappingURL=rueda.css.map */
